.conteiner{
    height: 731px;
    width: 1192px;
    background-color:#3a4965 ;
    padding: bottom 21px; 
}
main{
    margin-left: 22px;
    width: 1140px;
    height: 676px;
}
header{
    height: 21px;
}
.k1{
    width: 309px;
    height: 676px;
    float: left;
}
.k2{
    width: 277px;
    height: 676px;
    float: left;
}
.k3{
    width: 277px;
    height: 676px;
    float: left;
}
.k4{
    width: 277px;
    height: 676px;
    float: right;
}
#k1{height: 156px;
    background-color: #fafafa;
    text-align: center;
    color: #484848;
}
div{
    overflow: hidden;
    position: relative;
}
#k2,#k4,#k6{
    height: 69px;
    background-color: #f2f2f2;
    text-align: center;
}
#k3,#k5,#k7{
    height: 69px;
    background-color: #e3e3e3;
}
#k8{
    background-color:#dddddd ;
    height: 106px;
}
li{
    list-style-type: none;
}
#l1{
    font-size: 1.5em;
}
#l2{
    font-size: 2.2em;
}
#u1{
    padding-left: 0%;
}
#k21,#k31,#k41,#k51,#k61,#k71{
    width: 136px;
    height: 69px;
    float: left;
}
#k22,#k32,#k42,#k52,#k62,#k72{
    width: 173px;
    height: 69px;
    float: left;
    font-size: 1.5em;
    padding-top: 23px;
    color:#848484;
    text-align: left;
}
#k201{
    height: 70px;
    background-color: #89c331;
}
#k202,#k302,#k402{
    height: 86px;
    background-color: #fafafa;
    color:#484848 ;
}
#p21,#p31,#p41{
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 15px;
}
#p22,#p32,#p42{
    text-align: center;
    color: #484848;
    font-size: 2.5em;
    margin-top: 15px; 
}
#s21,#s31,#s41{
    font-size: 0.7em;
}
#k203,#k303,#k403{
    height: 69px;
    background-color:#f2f2f2 ;
}
#p203,#p205,#p207,#p208,#p303,#p305,#p307,#p308,#p306,#p403,#p405,#p407,
#p408,#p406,#p404,#texno{
    text-align: center;
    font-size: 1.5em;
    margin-top: 23px;
    color: #848484;
}
#k204,#k206,#k208,#k304,#k306,#k308,#k404,#k406,#k408{
    height: 69px;
    background-color: #e3e3e3;
}
#k205,#k207,#k305,#k307,#k405,#k407{
    height: 69px;
    background-color: #f2f2f2;
}
#k209,#k409 {
    height: 106px;
    background-color: #eeeeee;
}
#k309{
    background-color: #f4f4f4;
    height: 106px;
}
#k301{
    height: 70px;
    background-color:#f04a56;
}
#p31{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin-top: 10px;
}
#k401{
    height: 70px;
    background-color:#20807c;
}
.texno{
    position: absolute;
    top: 247px; 
    left: 333px;
    width: 550px;
    height: 69px;
    background-color:#e3e3e3;
    z-index: 2;
}
#bt1{
    width: 192px;
    height: 49px;
    border-radius: 10px;
    background-color:#484848 ;
    margin-top: 29px;
    margin-left: 59px;
}
#bt2{
    width: 192px;
    height: 49px;
    border-radius: 10px;
    background-color:#89c331 ;
    margin-top: 29px;
    margin-left: 44px;
}
#bt3{
    width: 192px;
    height: 49px;
    border-radius: 10px;
    background-color: #f04a56;
    margin-top: 29px;
    margin-left: 44px;
}
#bt4{
    width: 192px;
    height: 49px;
    border-radius: 10px;
    background-color: #20807c;
    margin-top: 29px;
    margin-left: 44px;
}
.k1,.k2,.k3,.k4{
    outline: 1px solid grey;
}